*{
  margin:0;
  padding: 0;
}

    /*text formatting*/
body{
  padding-bottom: 60px;
  font-family: montserrat, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
}
a {
  text-decoration: none;
  color: #DB7575;
}

h1{
  color: #DB7575;
  text-align: center;
  font-family: delicato, sans-serif;
  font-weight: 900;
  font-style: normal;
  padding: 15px;
}
.quote{
  font-family: delicato, sans-serif;
  font-weight: 400;
  font-style: italic;
  font-size: 25px;
  color: #7192BE;
  text-align: center;
  padding: 1em 2em 1em 2em;
}

.blueheadline{
  font-family: delicato, sans-serif;
  font-weight: 600;
  font-style: normal;
  text-align: center;
  padding: 4%;
  color:#7192BE;
}
.pinkheadline{
  font-family: delicato, sans-serif;
  font-weight: 600;
  font-style: normal;
  text-align: center;
  padding: 4%;
  color: #FFEAEA;
}
.nav-link:hover, .title:hover {
  color: #EDAE49;
}

p{
  padding: 0em 2em 2em 2em;
  color:#7192BE;
}

.bluebutton, .yellowbutton{
  font-family: delicato, sans-serif;
  font-weight: 600;
  font-style: normal;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}


    /*grid*/

.grid-container{
  display: block;
  grid-template-areas:
  'header'
  'quote'
  'img1'
  'portfolio'
  'concept'
  'img2'
  'divider'
  'about'
  'img3'
  'nav' ;
  grid-row-gap: 0px;
}

    /*Header*/
.header{
  grid-area: header;
  background-color: #F9F6F0;
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  height: 80px;
  padding:2px;
}

.logoimg{
  height: 100%;
  padding: 8px;
}

    /*Navigation*/
.nav{
  grid-area:nav;
  background-color: #F9F6F0;
}

  nav ul{
    display: flex;
    list-style: none;
    justify-content: center;
    text-align: center;
    background-color: #FFEAEA;
  }

  .nav-link {
    vertical-align: middle;
    font-family: montserrat, sans-serif;
    font-weight: 500;
    font-style: normal;
    padding: 50px;
    font-size: 18px;
  }

  .nav-links{
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 6%;
    padding-top:4%;
    padding-bottom: 3%;
  }

    /*Maincontent*/

.regular{
  background-color: #FFEAEA;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 40vh;
}
.quotesection{
  grid-area: quote;

}
.centergallery{
  grid-area: portfolio;
  background-color: #DB7575;
}

.concept{
  grid-area: concept;
}

.about{
  grid-area: about;
}

.yellowbutton {
   background-color: #EDAE49;
   border: none;
   color: #FFEAEA;
}
.bluebutton{
  background-color: #7192BE;
  border: none;
  color: #FFEAEA;
}

.yellowbutton:hover{
  background-color: #7192BE;
}

.bluebutton:hover{
  background-color: #EDAE49;
}

    /*images*/

.imgcontainer{
background-color: #F9F6F0;
height: 100vw;
width:100%;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
}

.centerimage{
  width: 70%;
  height: auto;
}

.first{
  grid-area: img1;
}

.second{
  grid-area: img2;
}

.third{
  grid-area: img3;
}

    /*Divider*/
.divider{
  grid-area: divider;
  background-color: #DB7575;
  height: 100px;
}

    /*footer*/
.footer{
  grid-area:footer;
  background-color: #DB7575;
  height: 100px;
}
  /*tablet size*/
@media screen and (min-width:768px){

    /*grid*/
.grid-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
  'header header'
  'nav nav'
  'quote quote'
  'img1 img1'
  'portfolio portfolio'
  'concept concept'
  'img2 img2'
  'divider divider'
  'img3 img3'
  'about about'
  'footer footer';
  grid-row-gap: 0px;
}


  /*Navigation*/
  .nav{
    grid-area:nav;
    background-color: #F9F6F0;
  }

    nav ul{
      display:flex;
      list-style: none;
      justify-content: space-around;
      text-align: center;
      background-color: #F9F6F0;
      filter: drop-shadow(0px 3px 2px #DB7575);
    }

    .nav-link {
      vertical-align: middle;
      font-family: montserrat, sans-serif;
      font-weight: 500;
      font-style: normal;
      padding: 2px;
    }

    .nav-links{
      overflow: visible;
      position: absolute;
      bottom: auto;
      width: 100%;
      height: 4%;
      padding:1%;
    }

    /*Maincontent*/

    .regular{
      background-color: #FFEAEA;
      text-align: center;
      justify-content: center;
      align-items: center;
      height: 40vw;
    }
}

  /*desktop size*/

@media screen and (min-width: 1024px) {

    /*grid*/
  .grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    'header header'
    'nav nav'
    'img1 quote'
    'portfolio portfolio'
    'concept img2 '
    'divider divider'
    'img3 about'
    'footer footer';
    grid-row-gap: 0px;
  }
  /*Header*/
.header{
grid-area: header;
background-color: #F9F6F0;
height: 30vh;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

  /*Navigation*/
  .nav{
    grid-area:nav;
    background-color: #F9F6F0;
  }

    nav ul{
      display:flex;
      list-style: none;
      justify-content: center;
      text-align: center;
      background-color: #F9F6F0;
      filter: drop-shadow(0px 3px 2px #DB7575);
    }

    .nav-link {
      vertical-align: middle;
      font-family: montserrat, sans-serif;
      font-weight: 500;
      font-style: normal;
      padding-left: 70px;
      padding-right: 70px;
    }

    .nav-links{
      overflow: visible;
      position: absolute;
      bottom: auto;
      width: 100%;
      height: 4%;
      padding:1%;
    }

    /*Maincontent*/

    .regular{
      background-color: #FFEAEA;
      text-align: center;
      justify-content: center;
      align-items: center;
      height: 60vw;
    }

    /*images*/

    .imgcontainer{
    background-color: #F9F6F0;
    height: 60vw;
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    }

    /*Divider*/

    .divider{
      grid-area: divider;
      background-color: #DB7575;
      height: 10vh;
    }

    /*footer*/

    .footer{
      grid-area:footer;
      background-color: #DB7575;
      height: 15vw;
    }

    /*text formatting*/
    body{
      padding-bottom: 60px;
      font-family: montserrat, sans-serif;
      font-weight: 500;
      font-style: normal;
      font-size: 30px;
    }
    .quote{
      font-family: delicato, sans-serif;
      font-weight: 400;
      font-style: italic;
      font-size: 40px;
      color: #7192BE;
      text-align: center;
      padding: 1em 2em 1em 2em;
}

}
